# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /celr/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /celr/index.php [L]
</IfModule>
# END WordPress
